@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --swiper-navigation-color: #E49A38;
  --swiper-navigation-size: 40px;
} */

@layer base {
  html {
    font-family: 'Baloo Da 2', sans-serif;
  }
}
/* @layer base {
  html {
    font-family: 'Inter var';
  }
} */
/* Inter var,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji */

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

.ping-icon{
    animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}
.font-unica{
  font-family: 'Unica One', cursive;
}
.bg-img{
  background-image: url('assets/hero-bg.png');
}


/* scroll */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: block;
  width: 5px;
  border-radius: 5px;
}

/* ::-webkit-scrollbar-track {
  background: transparent;
} */
    
::-webkit-scrollbar-thumb {
  background-color: slategrey;
  border-radius: 10px;
  border-right: none;
  border-left: none;
}

::-webkit-scrollbar-thumb:hover {
  background-color: slategrey;
}

/* slider */

.slick-prev{
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 50px!; 
  height: 50px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 28px;
    height: 28px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

/* icon color */

.windows{
  @apply inline-flex items-center rounded-md bg-blue-50 dark:bg-blue-400/10 px-2 py-1 text-xs font-medium text-blue-700 dark:text-blue-400 ring-1 ring-inset ring-blue-700/10 dark:ring-blue-400/30  uppercase
}
.multimedia{
  @apply  inline-flex items-center rounded-md bg-pink-50 dark:bg-pink-400/10 px-2 py-1 text-xs font-medium text-pink-700 dark:text-pink-400 ring-1 ring-inset ring-pink-700/10 dark:ring-pink-400/20 uppercase
}
.utility{
  @apply  inline-flex items-center rounded-md bg-yellow-50 dark:bg-yellow-400/10 px-2 py-1 text-xs font-medium text-yellow-800 dark:text-yellow-500 ring-1 ring-inset ring-yellow-600/20 dark:ring-yellow-400/20 uppercase
}
.web{
  @apply  inline-flex items-center rounded-md bg-green-50 dark:bg-green-500/10 px-2 py-1 text-xs font-medium text-green-700 dark:text-green-400 ring-1 ring-inset ring-green-600/20 dark:ring-green-500/20 uppercase
}
.security{
  @apply  inline-flex items-center rounded-md bg-red-50 dark:bg-red-400/10 px-2 py-1 text-xs font-medium text-red-700 dark:text-red-400 ring-1 ring-inset ring-red-600/10 dark:ring-red-400/20 uppercase
}
.graphic{
  @apply  inline-flex items-center rounded-md bg-purple-50 dark:bg-purple-400/10 px-2 py-1 text-xs font-medium text-purple-700 dark:text-purple-400 ring-1 ring-inset ring-purple-700/10 dark:ring-purple-400/30 uppercase
}
.misc{
  @apply  inline-flex items-center rounded-md bg-slate-100 dark:bg-slate-400/10 px-2 py-1 text-xs font-medium text-slate-600 dark:text-slate-400 ring-1 ring-inset ring-slate-500/10 dark:ring-slate-400/20 uppercase
}







